name: Build + Publish

on:
    push:
        tags:
            - "*"

jobs:
    build-push-container:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: jairf
                  password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
            - name: build and push to DockerHub
              uses: docker/build-push-action@v5.1.0
              with:
                  context: .
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: jairf/home_lab_expose:latest, jairf/home_lab_expose:${{ github.ref_name }}
